 .u-section-1 {
  background-image: linear-gradient(#054d63, #e5b608);
}

.u-section-1 .u-sheet-1 {
  min-height: 622px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 33px auto 0 412px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 33px 383px 0 346px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  width: 411px;
  margin: 48px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 113px;
    margin-left: 443px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 71px;
    margin-right: 283px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-left: 227px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 75px;
    margin-right: 352px;
    margin-left: -43px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 26px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-weight: normal;
    margin-top: 0;
    margin-right: 359px;
    margin-left: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 443px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 262px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 66px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 179px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 138px;
    margin-left: 279px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 70px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
  }
}