 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 515px;
}

.u-section-1 .u-gallery-1 {
  height: 515px;
  width: 971px;
  margin: 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-gallery-1 {
    margin-top: 29px;
    margin-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    width: 720px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-1 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-gallery-1 {
    margin-top: 51px;
    margin-bottom: 7px;
    width: 340px;
  }
} .u-section-2 {
  min-height: 210px;
  background-image: linear-gradient(#e5b608, #e5b608);
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  margin: 0 calc(((100% - 1140px) / 2) + 119px) 0 calc(((100% - 1140px) / 2) + 103px);
}

.u-section-2 .u-group-1 {
  min-height: 70px;
  width: calc(((100% - 1140px) / 2) + 1230px);
  background-image: linear-gradient(#054d63, white);
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + -90px);
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 auto 0 566px;
  padding: 7px 12px 9px 11px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 311px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 161px;
    margin-right: 161px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 1139px) / 2) + 1139px);
    margin-top: 101px;
    margin-left: calc(((100% - 1139px) / 2));
  }

  .u-section-2 .u-btn-1 {
    margin-left: 475px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    height: 39px;
    margin-left: 153px;
    margin-right: 153px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-1 {
    margin-left: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 96px;
    margin-left: 96px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-left: calc(((100% - 340px) / 2));
  }
}